
<div class="dx-fieldset">
  <h1> <b>Sistema de Facturación</b> </h1>
    <div class="fields-container">
      <div class="dx-field">
        <div class="dx-field-label">ADMINISTRAR</div>
        <div class="dx-field-value">
          <dx-button
            icon="fa-solid fa-users"
            text="Clientes"
            (onClick)="page('clientes')"
          >
          </dx-button>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">ADMINISTRAR</div>
        <div class="dx-field-value">
          <dx-button
            icon="fa-solid fa-cart-shopping"
            text="Productos"
            (onClick)="page('productos')"
          >
          </dx-button>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">ADMINISTRAR</div>
        <div class="dx-field-value">
          <dx-button
            icon="fa-solid fa-file-invoice-dollar"
            text="Facturas"
            (onClick)="page('facturas')"
          >
          </dx-button>
        </div>
      </div>     
    </div>
</div>